h1{text-align: center; color: cyan;margin-bottom: 100px;font-weight: bold;font-size: 50px;}
h2{text-align: center;font-size: 80px; color:red;}
.b{height: 50px; width:120px;background-color: gray;font-size: 20px;margin-right:20px;margin-bottom: 100px; color:snow}
pre{font-size: 20px;text-align: center;color:yellow}